/.vs/LucienWTM/config/applicationhost.config
/.vs/LucienWTM/v16/.suo
/.vs/LucienWTM/v16/Server/sqlite3/db.lock
/.vs/LucienWTM/v16/Server/sqlite3/storage.ide
/.vs/LucienWTM/v16/Server/sqlite3/storage.ide-shm
/.vs/LucienWTM/v16/Server/sqlite3/storage.ide-wal
/Dockerfile
/LucienWTM.DataAccess/bin/Debug/netcoreapp2.2/LucienWTM.DataAccess.deps.json
/LucienWTM.DataAccess/bin/Debug/netcoreapp2.2/LucienWTM.DataAccess.dll
/LucienWTM.DataAccess/bin/Debug/netcoreapp2.2/LucienWTM.DataAccess.pdb
/LucienWTM.DataAccess/bin/Debug/netcoreapp2.2/LucienWTM.Model.dll
/LucienWTM.DataAccess/bin/Debug/netcoreapp2.2/LucienWTM.Model.pdb
/LucienWTM.DataAccess/obj/Debug/netcoreapp2.2/LucienWTM.DataAccess.AssemblyInfo.cs
/LucienWTM.DataAccess/obj/Debug/netcoreapp2.2/LucienWTM.DataAccess.AssemblyInfoInputs.cache
/LucienWTM.DataAccess/obj/Debug/netcoreapp2.2/LucienWTM.DataAccess.assets.cache
/LucienWTM.DataAccess/obj/Debug/netcoreapp2.2/LucienWTM.DataAccess.csproj.CopyComplete
/LucienWTM.DataAccess/obj/Debug/netcoreapp2.2/LucienWTM.DataAccess.csproj.FileListAbsolute.txt
/LucienWTM.DataAccess/obj/Debug/netcoreapp2.2/LucienWTM.DataAccess.csprojAssemblyReference.cache
/LucienWTM.DataAccess/obj/Debug/netcoreapp2.2/LucienWTM.DataAccess.dll
/LucienWTM.DataAccess/obj/Debug/netcoreapp2.2/LucienWTM.DataAccess.pdb
/LucienWTM.DataAccess/obj/LucienWTM.DataAccess.csproj.nuget.cache
/LucienWTM.DataAccess/obj/LucienWTM.DataAccess.csproj.nuget.dgspec.json
/LucienWTM.DataAccess/obj/LucienWTM.DataAccess.csproj.nuget.g.props
/LucienWTM.DataAccess/obj/LucienWTM.DataAccess.csproj.nuget.g.targets
/LucienWTM.DataAccess/obj/project.assets.json
/LucienWTM.Model/bin/Debug/netcoreapp2.2/LucienWTM.Model.deps.json
/LucienWTM.Model/bin/Debug/netcoreapp2.2/LucienWTM.Model.dll
/LucienWTM.Model/bin/Debug/netcoreapp2.2/LucienWTM.Model.pdb
/LucienWTM.Model/obj/Debug/netcoreapp2.2/LucienWTM.Model.AssemblyInfo.cs
/LucienWTM.Model/obj/Debug/netcoreapp2.2/LucienWTM.Model.AssemblyInfoInputs.cache
/LucienWTM.Model/obj/Debug/netcoreapp2.2/LucienWTM.Model.assets.cache
/LucienWTM.Model/obj/Debug/netcoreapp2.2/LucienWTM.Model.csproj.FileListAbsolute.txt
/LucienWTM.Model/obj/Debug/netcoreapp2.2/LucienWTM.Model.csprojAssemblyReference.cache
/LucienWTM.Model/obj/Debug/netcoreapp2.2/LucienWTM.Model.dll
/LucienWTM.Model/obj/Debug/netcoreapp2.2/LucienWTM.Model.pdb
/LucienWTM.Model/obj/LucienWTM.Model.csproj.nuget.cache
/LucienWTM.Model/obj/LucienWTM.Model.csproj.nuget.dgspec.json
/LucienWTM.Model/obj/LucienWTM.Model.csproj.nuget.g.props
/LucienWTM.Model/obj/LucienWTM.Model.csproj.nuget.g.targets
/LucienWTM.Model/obj/project.assets.json
/LucienWTM.Test/obj/Debug/netcoreapp2.2/LucienWTM.Test.AssemblyInfo.cs
/LucienWTM.Test/obj/Debug/netcoreapp2.2/LucienWTM.Test.AssemblyInfoInputs.cache
/LucienWTM.Test/obj/Debug/netcoreapp2.2/LucienWTM.Test.RazorAssemblyInfo.cache
/LucienWTM.Test/obj/Debug/netcoreapp2.2/LucienWTM.Test.RazorAssemblyInfo.cs
/LucienWTM.Test/obj/Debug/netcoreapp2.2/LucienWTM.Test.assets.cache
/LucienWTM.Test/obj/Debug/netcoreapp2.2/LucienWTM.Test.csprojAssemblyReference.cache
/LucienWTM.Test/obj/LucienWTM.Test.csproj.nuget.cache
/LucienWTM.Test/obj/LucienWTM.Test.csproj.nuget.dgspec.json
/LucienWTM.Test/obj/LucienWTM.Test.csproj.nuget.g.props
/LucienWTM.Test/obj/LucienWTM.Test.csproj.nuget.g.targets
/LucienWTM.Test/obj/project.assets.json
/LucienWTM.ViewModel/bin/Debug/netcoreapp2.2/LucienWTM.Model.dll
/LucienWTM.ViewModel/bin/Debug/netcoreapp2.2/LucienWTM.Model.pdb
/LucienWTM.ViewModel/bin/Debug/netcoreapp2.2/LucienWTM.ViewModel.deps.json
/LucienWTM.ViewModel/bin/Debug/netcoreapp2.2/LucienWTM.ViewModel.dll
/LucienWTM.ViewModel/bin/Debug/netcoreapp2.2/LucienWTM.ViewModel.pdb
/LucienWTM.ViewModel/obj/Debug/netcoreapp2.2/LucienWTM.ViewModel.AssemblyInfo.cs
/LucienWTM.ViewModel/obj/Debug/netcoreapp2.2/LucienWTM.ViewModel.AssemblyInfoInputs.cache
/LucienWTM.ViewModel/obj/Debug/netcoreapp2.2/LucienWTM.ViewModel.assets.cache
/LucienWTM.ViewModel/obj/Debug/netcoreapp2.2/LucienWTM.ViewModel.csproj.CopyComplete
/LucienWTM.ViewModel/obj/Debug/netcoreapp2.2/LucienWTM.ViewModel.csproj.FileListAbsolute.txt
/LucienWTM.ViewModel/obj/Debug/netcoreapp2.2/LucienWTM.ViewModel.csprojAssemblyReference.cache
/LucienWTM.ViewModel/obj/Debug/netcoreapp2.2/LucienWTM.ViewModel.dll
/LucienWTM.ViewModel/obj/Debug/netcoreapp2.2/LucienWTM.ViewModel.pdb
/LucienWTM.ViewModel/obj/LucienWTM.ViewModel.csproj.nuget.cache
/LucienWTM.ViewModel/obj/LucienWTM.ViewModel.csproj.nuget.dgspec.json
/LucienWTM.ViewModel/obj/LucienWTM.ViewModel.csproj.nuget.g.props
/LucienWTM.ViewModel/obj/LucienWTM.ViewModel.csproj.nuget.g.targets
/LucienWTM.ViewModel/obj/project.assets.json
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.DataAccess.dll
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.DataAccess.pdb
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.Model.dll
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.Model.pdb
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.ViewModel.dll
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.ViewModel.pdb
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.Views.dll
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.Views.pdb
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.deps.json
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.dll
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.pdb
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.runtimeconfig.dev.json
/LucienWTM/bin/Debug/netcoreapp2.2/LucienWTM.runtimeconfig.json
/LucienWTM/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/LucienWTM/bin/Debug/netcoreapp2.2/appsettings.json
/LucienWTM/bin/Debug/netcoreapp2.2/en/LucienWTM.resources.dll
/LucienWTM/bin/Debug/netcoreapp2.2/zh/LucienWTM.resources.dll
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.AssemblyInfo.cs
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.AssemblyInfoInputs.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.RazorAssemblyInfo.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.RazorAssemblyInfo.cs
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.RazorCoreGenerate.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.RazorTargetAssemblyInfo.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.RazorTargetAssemblyInfo.cs
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.Resources.Program.en.resources
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.Resources.Program.zh.resources
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.TagHelpers.input.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.TagHelpers.output.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.Views.dll
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.Views.pdb
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.assets.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.csproj.CopyComplete
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.csproj.FileListAbsolute.txt
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.csproj.GenerateResource.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.csprojAssemblyReference.cache
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.dll
/LucienWTM/obj/Debug/netcoreapp2.2/LucienWTM.pdb
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Areas/_ViewImports.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/Home/FrontPage.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/Home/Layout.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/Home/PIndex.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/Login/ChangePassword.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/Login/Login.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/Login/Reg.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
/LucienWTM/obj/Debug/netcoreapp2.2/en/LucienWTM.resources.dll
/LucienWTM/obj/Debug/netcoreapp2.2/zh/LucienWTM.resources.dll
/LucienWTM/obj/LucienWTM.csproj.nuget.cache
/LucienWTM/obj/LucienWTM.csproj.nuget.dgspec.json
/LucienWTM/obj/LucienWTM.csproj.nuget.g.props
/LucienWTM/obj/LucienWTM.csproj.nuget.g.targets
/LucienWTM/obj/project.assets.json
